*{
    margin:0;
    padding:0;
    font-family: Arial;
}
body{
    height: auto;
}
/*Navbar*/
.navbar-div{
    background-color: black;
    padding: 1px;
    border: 2px solid green;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float: left;
    padding-top: 1%;
    padding-left: 2%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    color: yellow;
    
  }
  
  li a:hover {
    background-color: darkgreen;
    border-radius: 25px;
    opacity: 0.5;
  }
.logo img{
    float: right;
    width: 5%;
    height: 5%;

}
/*content*/
.content-div{
    padding: 10%;
    display: flex;
    flex-direction: row;
    display:flex;
    width: 85%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.content-div{
    background-color: black;
    height: 30%;
    width: auto;
}
.text-div{
    color: rgb(255, 253, 253);
    padding: 6%;
    width: 55%;
    margin: 0;
    padding-left: 0%;  
}
.text-div h1{
    font-size: 50px;
    padding: 15px;
    width: 130%;
    color: yellow;
}
.text-div p{
    font-size: 22px;
    padding: 30px;
    width: 120%;
    text-align: justify;
}
.image-div img{
    width: 110%;
    height: 90%;
    animation: spin3D 3s ease-in-out infinite; 
}
@keyframes spin3D {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
  }
.text-div button{
    margin-left: 30%;
    padding: 15px 50px;
    border: 1px solid yellow;
    border-radius: 4px;
    background-color: black;
    color: green;
    font-weight: 1px bold;
    background-color: yellow;
}
.text-div button:hover{
    background-color: rgb(177, 177, 12);
}
/*footer*/
.footer-div{
    background-color: black;
    color: #fff;
    padding:20px;
    text-align: center;
    border: 2px solid green;
}
